@font-face {
  font-family: "Jua";
  font-weight: 50;
  src: url("./fonts/Jua-Regular.ttf");
}

.UnicoSearch {
  width: 100%;
  height: 40px;
  font-size: 30px;
  margin-bottom: 20px;
  float: right;
  border-radius: 18px;
}

.Unicobox {
  width: 100%;
  height: 50px;
  border: solid;
  cursor: pointer;
  background-color: white;
  margin-top: 2px;
}

.UnicoboxTitle {
  float: left;
  margin-left: 30px;
  margin-right: 10px;
  font-size: 20px;
}

.UnicoUesrSeq {
  font-family: Jua;
  float: left;
  width: 150px;
  text-align: center;
  margin-top: 12px;
}

.UnicoUesrName {
  font-family: Jua;
  float: left;
  margin-left: 8px;
  border-left: solid;
  width: 150px;
  text-align: center;
  margin-top: 12px;
}

.UnicoUesrNick {
  font-family: Jua;
  float: left;
  border-left: solid;
  text-align: center;
  width: 200px;
  margin-top: 12px;
}

.UnicoUesrID {
  font-family: Jua;
  float: left;
  border-left: solid;
  text-align: center;
  width: 350px;
  margin-top: 12px;
}

.UnicoUesrPhone {
  font-family: Jua;
  float: left;
  border-left: solid;
  text-align: center;
  width: 330px;
  margin-top: 12px;
}

.UnicoUesrBirth {
  font-family: Jua;
  float: left;
  border-left: solid;
  text-align: center;
  width: 220px;
  margin-top: 12px;
}

.UnicoUesrSYear {
  font-family: Jua;
  float: left;
  border-left: solid;
  text-align: center;
  width: 220px;
  margin-top: 12px;
}

.UnicoUesrSGYear {
  font-family: Jua;
  float: left;
  border-left: solid;
  text-align: center;
  width: 220px;
  margin-top: 12px;
}

.Unnbox {
  font-family: Jua;
  border: solid;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.Utagtit {
  border: solid;
  background-color: darkgray;
  height: 50px;
  border-bottom: solid;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.Ullll {
  margin-top: -10px;
  width: 100%;
}

.Ucardseq {
  float: left;
  border-right: solid;
  width: 130px;
  text-align: left;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
}

.Ucardname {
  float: left;
  border-right: solid;
  width: 150px;
  text-align: center;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
}

.Ucardnick {
  float: left;
  border-right: solid;
  width: 200px;
  text-align: center;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
}

.Ucardid {
  float: left;
  border-right: solid;
  width: 350px;
  text-align: center;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
}

.Ucardphone {
  float: left;
  border-right: solid;
  width: 330px;
  text-align: center;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
}

.Ucardbirth {
  float: left;
  border-right: solid;
  width: 220px;
  text-align: center;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
}

.Ucardsyear {
  float: left;
  border-right: solid;
  width: 220px;
  text-align: center;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
}

.Ucardsgyear {
  float: left;
  width: 220px;
  text-align: center;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
}
