@font-face {
  font-family: "BlackHanSans";
  font-weight: 50;
  src: url("../../components/fonts/BlackHanSans-Regular.ttf") format("truetype");
}

.nicosub {
  font-size: 55px;
  left: 59%;
  font-family: "BlackHanSans";
}

.nico-btn {
  overflow: hidden;
  width: 3.5cm;
  height: 55px;
  border-radius: 7px;
  background-color: black;
  float: right;
  font-size: 30px;
  color: white;
  cursor: pointer;
  font-family: "BlackHanSans";
}
